body {
  width: 400px;
}

input[type="search"] {
  width: 100%;
}

li {
  cursor: pointer;
}
li:hover {
  color: #03a;
  text-decoration: underline;
}
li.selected {
  color: #000;
  text-decoration: none;
  cursor: default;
}
li.selected .title {
  font-weight: bold;
}
li img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 4px;
}
li .domain:before {
  content: " - ";
}
li .domain {
  color: #062;
}
li span {
  vertical-align: middle;
}
